    body { 
      background-color: #ffffff;
      color: #fff;
      font-family: 'Segoe UI', sans-serif;
      padding-bottom: 80px;
    }
    .card-custom, .profile-header, .voucher-box, .favorite-card {
      background-color: #f68712;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 20px;
    }
    .btn-green {
      background-color: #45200a;
      border: none;
      color: white;
      border-radius: 15px;
    }
    .bottom-nav {
      background-color: #1e1e1e;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-around;
      z-index: 1000;
    }
    .bottom-nav i {
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
    .active-icon {
      color: #12d18e;
    }
    @keyframes change {
  0% {
      position: relative;
      top: 30px;
  }
  50% {
    position: relative;
    top: 50px;
  }
  100% {
    position: relative;
    top: 30px;
  }
}


