<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Delivery</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- Header -->
    <header class=" p-3 shadow-sm" style="background-color: #f2b472;">
        <div class="container d-flex justify-content-between align-items-center">

            <img src="/frontend/assets/images/AFRIC_FOODIES-removebg-preview.png" alt="Logo Afric Foodies"
                style="height: 60px;">

            <nav>
                <a href="/frontend/index.html" class="me-3 text-decoration-none" style="color:#45200a;">Accueil</a>
                <a href="/frontend/pages/restaurants.html" class="me-3 text-decoration-none"
                    style="color:#45200a;">Restaurants</a>
                <a href="/frontend/pages/profile.html" class="text-decoration-none" style="color:#45200a;">Mon
                    Profil</a>
            </nav>
        </div>
    </header>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--  JS -->
    <script src="assets/js/script.js"></script>
</body>

</html>