
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="habibatou.css">
</head>

<body>

  <div class="container text-center">
    <div class="row g-4">
      <h1 class="fs-3"style="color: #f68712;">Tous les restaurants à proximité</h1>
      <!-- <hr style="width: 100px; height: 2px; background-color: #f68712; border-radius: 5px; margin: 0 auto;"> -->
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/Le thieboudieune royal.jpg" alt="" class="rounded"
              style="height: 150px; width: 300px;object-fit: cover;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">Le Thiéboudieune royal</h3>
          <p  class="text-body-secondary"><i class="fa-solid fa-location-dot" style="color:#ffc107;"  ></i> Route des Almadies</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>

        </div>
      </div>
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/delices-dakar.jpg" alt="" class="rounded"
              style=" height: 150px; width: 300px;object-fit: cover;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">Dakar Délices</h3>
          <p><i class="fa-solid fa-location-dot" style="color:  #ffc107;"></i>Rue Mohamed v, Plateau</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>

        </div>
      </div>
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/mbaxalousaloum-kermaame.jpg" alt="" class="rounded"
              style="    height: 150px; width: 300px;object-fit: cover; transform: scale(1.1);transition: transform 0.3s ease-in-out;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">Kër Maame</h3>
          <p><i class="fa-solid fa-location-dot" style="color:  #ffc107;"></i> Route de Kaolack</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>

        </div>
      </div>
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/c'est bon.jpg" alt="" class="rounded"
              style=" height: 150px; width: 300px;object-fit: cover;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">Teranga Gourmande</h3>
          <p><i class="fa-solid fa-location-dot" style="color:  #ffc107;"></i> Route de Saly</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>

        </div>
      </div>
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/baobab gourmand.jpg" alt="" class="rounded"
              style="    height: 150px; width: 300px;object-fit: cover;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">Le Baobab Gourmand</h3>
          <p><i class="fa-solid fa-location-dot" style="color:  #ffc107;"></i> Rue, felix faure</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>

        </div>
      </div>
      <div class="col border p-2">
        <div>
          <div>
            <img src="/frontend/assets/images/poisson braisé.jpg" alt="" class="rounded"
              style="    height: 150px; width: 300px;object-fit: cover;">
          </div>
          <h3 class="fs-5" style="color: #f68712;">L'Africain</h3>
          <p><i class="fa-solid fa-location-dot" style="color:  #ffc107;"></i> Sacré coeur</p>
          <button type="button" class="btn btn-warning">commandez-ici</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    img{
    animation:pulse 2s infinite;
}
img:hover {
    cursor: pointer;
}




@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
  </style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>