
        body{
    background-color: lab(73.27% 25.19 36.64);
    }
.button{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
}
button{
    background-color: #fa5f05;
    color: black;
}
h1 ,h2 ,p{
    color: black;
}

h2{
    font-size:  20px;
}
 .page1{
    background-color: #f2b472; 
}
/* .container text-center img{
    background-color: #fa5f05;
    color: #fa5f05; 
}
img{
    background-color: #fa5f05;
    padding: 20px;
}  */
  img{
    margin-top: 15px;
  }
p{
    font-size: 15px;
}
h1 ,h2{
    margin: 20px;
}
