.button {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #45200a;
  padding: 30px;
}

button {
  color: #45200a;
  background-color: #f68712;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 30px;
}

button:hover {
  background-color: #45200a;
  color: #f68712;
}

h1 {
  text-align: center;
  color: #f68712;
  font-weight: bold;
}

.couleur {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 15px;
}

.couleur:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.couleur.selected {
  border: 2px solid #f68712;
  background-color: rgba(255, 255, 255, 0.7);
}